<div class="container">
  <div class="upper-data">
    <img src="../assets/frozen-g6e8df364a_1920.jpg" alt="cold" />
    <img src="../assets/nature-g3da251047_1920.jpg" alt="hot" />

    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{ 14.4 | number: "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <i class="fa-solid fa-temperature-arrow-down"></i>
          <span>min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <i class="fa-solid fa-temperature-arrow-up"></i>
          <span>max</span>
        </div>
        <div class="info-block-value">17°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <i class="fa-solid fa-droplet"></i>
          <span>humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <i class="fa-solid fa-wind"></i>
          <span>wind</span>
        </div>
        <div class="info-block-value">11 km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
